<div class="table-container">
    <div class="table-header-bar">
        <div class="btns-bar">
            <!-- Botón Excel: Sin atributos onclick -->
            <button class="btn btn-excel" title="Exportar a Excel">
                <i class="bi bi-file-earmark-excel"></i>
            </button>
            <!-- Botón Nueva Tarea: Sin atributos onclick -->
            <button class="btn btn-open-new" title="Crear Tarea">
                <i class="bi bi-plus-lg"></i> <span>NUEVA TAREA</span>
            </button>
        </div>
        <div class="search-container">
            <i class="bi bi-search search-icon"></i>
            <input type="text" id="buscador" placeholder="Buscar tareas...">
        </div>
    </div>
    <table class="table">
        <thead class="table-head"></thead>
        <tbody class="table-body"></tbody>
    </table>
    <div id="paginador" class="paginador"></div>
</div>
