<div class="topbar-buttons">
    <button class="btn go-home-btn" id="go-home-btn" title="Actualizar">
        <i class="bi bi-arrow-clockwise"></i>
    </button>
    <div class="topbar-divider"></div>
</div>

<div class="topbar-right">
    <div class="topbar-tittle" id="titulo">PANEL PRINCIPAL</div>
    <div class="topbar-divider"></div>
    <div class="profile-photo">
        <img src="https://drive.google.com/thumbnail?id=1bcda21Jg7n4ScU7_Uxow0smQkA30gs9v" alt="logo" class="logo"
            width="40" height="40">
    </div>
    <div class="topbar-userData">
        <span class="user-name">Cargando...</span>
        <span class="user-correo" id="user-correo" hidden></span>
    </div>
</div>
