<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #050a47;
        max-width: 100vw;
        max-height: 100vh;
        display:flex;
        flex-direction: column;
        align-items: center;

    }

    .error-container {
        max-width: 700px;
        padding: 30px 40px;
        background: #b3bafc;
        border: 1px solid #ffb3b3;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0 2px 8px rgba(255, 0, 0, 0.1);
        margin: 10% 0;
    }

    .error-container h2 {
        color: #740b0b;
        margin: 10px 0;
        font-size: 28px;
        font-weight: bold;
    }

    .error-container p {
        color: #555;
        font-size: 22px;
        margin: 10px 0;
    }

    .text-bold {
        font-weight: bolder !important;
        color: rgb(4, 9, 39) !important;
    }

</style>